<%
comment = local_assigns[:comment]
reply = comment && comment.parent_id
%>
<div class="post-block post-leave-comment">
  <% if local_assigns[:include_title] %><h3>Leave a comment</h3><% end %>
<%= form_for([commentator, comment || Commentator::Comment.new(commentable: commentable)], remote: true, html: { class: 'comment-form', data: { append: reply ? "#comment-#{comment.parent_id} > .replies" : '.comments-top-level' } }) do |f| %>
  <%= f.text_area :body, { rows: 5, style: "width:99%" } %>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field  :commentable_id %>
  <div class="btn-toolbar">
    <%= f.submit "Post #{reply ? 'Reply' : 'Comment'}", class: 'btn btn-primary btn-large' %>
  </div>
<% end %>
</div>
